.reservation {
  width: 45%;
  background-color: #305dff;
  border-radius: 10px;
  position: relative;
  min-height: 700px;
  padding-bottom: 180px;
  box-sizing: border-box;
}
.reservation-ttl {
  padding: 30px;
  font-size: 28px;
  color: #fff;
}
.reservation-form-wrap {
  padding: 0 30px 30px;
}
.reservation-confirm {
  background-color: #4d7fff;
  color: #fff;
  padding: 30px;
  width: 80%;
  height: auto;
  font-size: 18px;
}
.reservation-btn,
.payment-btn {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #0538ff;
  border: none;
  width: 100%;
  padding: 30px;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.payment-form {
  padding: 0 30px;
}
.card-errors {
  color: tomato;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .reservation {
    width: 100%;
  }
}