/*---------------------------------
  会員登録完了画面
  予約完了画面
  予約変更完了画面
  評価完了画面
  メール未認証画面
---------------------------------*/
.done {
  width: 700px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  border-radius: 5px;
  position: relative;
}
.done-inner {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 10px 0;
}
.done-content,
.msg-content {
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .done {
    width: 90%;
  }
  .done-content,
  .msg-content {
    font-size: 20px;
  }
}